.game {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.gameTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.gameBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
}

.gameBottom p {
    width: 1200px;

}

.game .gameBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
}

article {
    margin: 5%;
}

table {
     width: 100%;
     table-layout: fixed;
    border-collapse: collapse;
     
 }

 th, td {
    width: 25%;
    border: 1px solid #000000;
    padding: 20px;
    text-align: left;
 }

th {
    
     background-color: #00A5E3;
     color: white;
     height: 50px;
 }

tr {
    background-color: #bdbdbd;
    height: 30px;
 }

.even{
    background-color: #bdbdbd;
}

.odd{
    background-color: white;
}

 td>img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
 }
