body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

audio {
    position: fixed;
    top: 0;
}

  
  .scoreboard-table {
    width: 90%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
    font-size: 20px; /* Increase font size for better visibility */
  }
  
  .scoreboard-table td, .scoreboard-table th {
    padding: 16px; /* Increase padding for better spacing */
    text-align: left;
  }
  
  .scoreboard-table th {
    background-color: white;
  }
  
  .scoreboard-table tr:nth-child(even) {
    background-color: white;
  }