@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css2?family=Mulish:200,400,wght@1,1000&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    margin: 0; 
}
h1{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-image: url("../images/beau-tir-lac-cristallin-cote-base-montagne-enneigee-au-cours-journee-ensoleillee.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    text-shadow:#ffffff 0em 0em 0.3em;
    text-align: left;
    padding-left: 20px;
}

footer {
    background-color: #bcbcbc;
    width: 100%;
    overflow: hidden; 
}
ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

#logo {
    float: right;
}

nav{
    background-color: #bdbdbd;
}

/* Article*/

        article{ /* All the left center part*/
            margin-top: 4%;
            margin-left: 2%;
            width: 65%;
            float: left;
        }

        article h2 { /* H2 title with line on bottom border*/
            margin-bottom: 0;
            border-bottom: 1px solid #ccc; 
            font-weight: 800;
        }

        header > p { /* By Jean Dupont...*/
            font-style: italic;
            text-align: right;
            color: #bcbcbc;
            display: block;
            margin-top: 1%;
        }

        article > p { /* Paragraphe inside the article*/
            color: #666666;
        }


        p > a{ /* link inside a paragraphe*/
            color: 
            #76AFE9;
            text-decoration: none;

        }

        p > strong { /* strong part inside a paragraphe*/
            color: black;
        }

        p > a:hover { /* When we go with the moose over a link inside a paragraphe*/
            color: #00A5E3;
        }

/* Div*/

        div{ /* All the blue and white box on the right*/
            border-radius: 5%;
            background-color:#00A5E3;
            color: black;
            width: 27%;
            float: right;
            margin-right: 2%;
            text-align: left;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 3%;
        }

        h3{ /* Title of the box*/
            background-color: #00A5E3;
            color: white;
            padding-left: 5%;
        }

        div > ul{ /* liste inside the box*/
            display: flex;
            flex-direction: column ;
            flex-wrap: wrap;
            margin: 0;
            padding: 5%;
            color: black;
            background-color: white;
            border-bottom-right-radius: 5%;
            border-bottom-left-radius: 5% ;
        }

        div > ul li { /* ellements of the liste inside the box*/
            margin-right: 1%;
        }