@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css2?family=Mulish:200,400,wght@1,1000&display=swap');

html, body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* Title */
        h1{
            margin: 0;
            padding-top: 8vh;
            padding-bottom: 5vh;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            background-image: url("../images/beau-tir-lac-cristallin-cote-base-montagne-enneigee-au-cours-journee-ensoleillee.jpg");
            background-size: cover; 
            background-repeat: no-repeat;
            background-position: center center;
            color: #ffffff;
            text-shadow:#ffffff 0em 0em 0.3em;
            text-align: left;
            padding-left: 30px;
            font-size: 272%;
        }

/* Footer */
        footer {
            background-color: #bdbdbd;
            width: 100%;
            height: 15%;
            position: fixed;
            bottom: 0;
        }

        #logo {
            float: right;
            max-width: auto;
            height: 60%;
            margin-right: 2%;
            margin-top: 1.5%;
        }

/* nav */        
        .hamburger{
            display: none;
        }

        nav{
            background-color: #bdbdbd;
            display: flex;
            align-items: center; /* Vertical alignment */
            padding-left: 26px;
        }

        nav > ul {
            margin: 0;
            padding: 0;
            display: flex; 
            align-items: center;
        }

        nav > ul li {
            display: inline-block;
            margin-right: 20px;
            line-height: 35px;
            width: 90px;
            text-align: center;
        }

        li > a{
            text-decoration: none;
            color: black;
            width: 100%;
            margin: 0;
        }

        a:hover{
            text-decoration: none;
            color: rgb(0, 191, 255);
        }

        header nav ul li.active{
            background-color: #ffffff;
            width: fit-content;
            padding-right: 2%;
            padding-left: 2%;
        }

        header nav ul li.active a{
            color: rgb(0, 191, 255);
            font-weight: 700;
        }

/* Article*/

        article{ /* All the left center part*/
            margin-top: 20px;
            margin-left: 30px;
            width: 70%;
            float: left;
        }

        article h2 { /* H2 title with line on bottom border*/
            margin-bottom: 0;
            border-bottom: 1px solid #ccc; 
            font-weight: 800;
        }

        header > p { /* By Jean Dupont...*/
            font-style: italic;
            text-align: right;
            color: #bcbcbc;
            display: block;
            margin-top: 1%;
        }

        article > p { /* Paragraphe inside the article*/
            color: #666666;
        }


        p > a{ /* link inside a paragraphe*/
            color: 
            #76AFE9;
            text-decoration: none;

        }

        p > strong { /* strong part inside a paragraphe*/
            color: black;
        }

        p > a:hover { /* When we go with the moose over a link inside a paragraphe*/
            color: #00A5E3;
        }

/* Div*/

        div{ /* All the blue and white box on the right*/
            border-radius: 5%;
            background-color:#00A5E3;
            width: 20%;
            float: right;
            margin-right: 2%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        }

        h3{ /* title of the box*/
            background-color: #00A5E3;
            color: white;
            padding-left: 5%;
        }

        div > ul{ /* list inside the box*/
            margin: 0;
            padding: 5%;
            color: black;
            background-color: white;
            border-bottom-right-radius: 5%;
            border-bottom-left-radius: 5% ;
            list-style-type: none;
        }


/* Media */

        /*Adjustement for pc resizing*/
                @media only screen and (max-width: 600px) {
                        body {
                            font-size: 14px; 
                        }

                        h1 {
                            padding-top: 60px;
                            padding-bottom: 10px;
                            padding-left: 15px;
                            text-align: center;
                        }

                        nav {
                            padding-left: 15px;
                        }

                        nav > ul {
                            flex-direction: column;
                            align-items: stretch;
                        }

                        nav > ul li {
                            margin-right: 0;
                            margin-bottom: 10px;
                            width: 100%;
                        }

                        #logo {
                            width: 70% !important; 
                            float: none;
                            margin: 0 auto;
                        }

                        article {
                            width: 100%;
                            margin-left: 0;
                        }

                        div {
                            width: 100%;
                            float: none;
                            margin-right: 0;
                            margin-top: 3%;
                        }
                    }
        /* Delete footer on pc when zooming too much, so we can still read the text*/                    
                @media only screen and (max-height: 500px) {
                    footer {
                        display: none; /* Cacher le pied de page lorsque la hauteur est inférieure à 500px */
                    }
                }


        /* IPAD */
                @media only screen and (max-height: 1180px) and (max-width: 820px){  
                    footer {
                        height: 8%;
                    }

                    article{ 
                        width: 90%;
                        
                    }

                    div {
                        float: left;
                        margin-left: 30px;
                        width: 40%;
                        margin-bottom: 15%;
                    }

                    article h2 { /* H2 title with line on bottom border*/
                        font-size: 32px;
                    }

                    body {
                        font-size: 23px;
                    }

                    nav > ul li {
                        line-height: 45px;
                        padding-right: 20px;
                    }

                    header nav ul li.active{
                        width: fit-content;
                        padding-right: 2%;
                        padding-left: 2%;
                    }
                }
            