@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css2?family=Mulish:200,400,wght@1,1000&display=swap');

html, body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* Title */
        h1{
            margin: 0;
            padding-top: 8vh;
            padding-bottom: 5vh;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            background-image: url("../images/beau-tir-lac-cristallin-cote-base-montagne-enneigee-au-cours-journee-ensoleillee.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: #ffffff;
            text-shadow:#ffffff 0em 0em 0.3em;
            text-align: left;
            padding-left: 30px;
            font-size: 43px;
        }

/* Footer */
        footer {
            background-color: #bdbdbd;
            width: 100%;
            height: 15%;
            position: fixed;
            bottom: 0;
        }

        #logo {
            float: right;
            max-width: auto;
            height: 60%;
            margin-right: 2%;
            margin-top: 1.5%;
        }

/* nav */        
        .hamburger{
            display: none;
        }

        nav{
            background-color: #bdbdbd;
            display: flex;
            align-items: center; /* Vertical alignment */
            padding-left: 17px;
        }

        nav > ul {
            margin: 0;
            padding: 0;
            display: flex; 
            align-items: center;
        }

        nav > ul li {
            display: inline-block;
            margin-right: 20px;
            line-height: 35px;
            width: 90px;
            text-align: center;
        }

        li > a{
            text-decoration: none;
            color: black;
            width: 100%;
            margin: 0;
        }

        a:hover{
            text-decoration: none;
            color: rgb(0, 191, 255);
        }

        header nav ul li.active{
            background-color: #ffffff;
            width: fit-content;
            padding-right: 2%;
            padding-left: 2%;
        }

        header nav ul li.active a{
            color: rgb(0, 191, 255);
            font-weight: 700;
        }

/* Article*/

        article{ /* All the left center part*/
            margin-top: 20px;
            padding-left: 30px;
            width: 70%;
            float: left;
        }

        article h2 { /* H2 title */
            margin-bottom: 0;
            font-weight: 800;
        }

        header > p { /* By Jean Dupont...*/
            font-style: italic;
            text-align: right;
            color: #bcbcbc;
            display: block;
            margin-top: 1%;
            border-top: 1px solid #ccc;
            padding-top: 5px;
        }

        article > p { /* Paragraphe inside the article*/
            color: #666666;
        }


        p > a{ /* link inside a paragraphe*/
            color: 
            #76AFE9;
            text-decoration: none;

        }

        p > strong { /* strong part inside a paragraphe*/
            color: black;
            font-weight: 600;
        }

        p > a:hover { /* When we go with the moose over a link inside a paragraphe*/
            color: #00A5E3;
        }

/* Div*/

        div{ /* All the blue and white box on the right*/
            border-radius: 5%;
            background-color:#00A5E3;
            width: 20%;
            float: right;
            margin-right: 2%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        }

        h3{ /* title of the box*/
            background-color: #00A5E3;
            color: white;
            padding-left: 5%;
        }

        div > ul{ /* list inside the box*/
            margin: 0;
            padding: 5%;
            color: black;
            background-color: white;
            border-bottom-right-radius: 5%;
            border-bottom-left-radius: 5% ;
            list-style-type: none;
        }


/* Media */

        /* Delete footer on pc when zooming too much, so we can still read the text*/ 

                @media only screen and (max-height: 500px) {
                    footer {
                        display: none; /* Cacher le pied de page lorsque la hauteur est inférieure à 500px */
                    }
                }


        /* IPAD */

                @media only screen and (max-height: 1100px) and (max-width: 800px){  

                    h1{
                        padding-top: 8.5vh;
                        padding-bottom: 4vh;
                        font-size: 250%;
                    }

                    nav > ul li {
                        line-height: 50px;
                        font-size: 19px;
                        width: fit-content;
                        padding-left: 1%;
                        padding-right: 1%;
                    }

                    nav {
                        padding-left: 25px;
                    }
                    

                    header nav ul li.active{
                        width: fit-content;
                        line-height: 50px;
                    }


                    header nav ul li.active a{
                        font-weight: 900;
                    }
                   

                    article h2 { /* H2 title with line on bottom border*/
                        font-size: 30px;
                        margin-top: 5%;
                    }

                    article{ 
                        width: 90%; 
                    }

                    body {
                        font-size: 21px;
                    }

                    div {
                        float: left;
                        margin-left: 30px;
                        width: 40%;
                        margin-bottom: 15%;
                    }

                    footer {
                        height: 7%;
                    }


                }

        /* IPHONE portrait*/

                @media only screen and (max-height: 800px) and (max-width: 500px){  
                    h1{  
                        font-size: 170%;
                        text-align: left;
                        padding-top: 7vh;
                        padding-bottom: 2.5vh;
                        padding-left: 25px;
                    }

                    .hamburger{
                        display: block;
                        justify-content: center;
                        padding-top: 2px;
                        padding-bottom: 0%;
                    }

                    nav{
                        padding-left: 0px;
                    }

                    nav > ul li {
                        line-height: 25px;
                        margin-bottom: 0px;
                        padding: 5px;
                        width: 100%;
                        margin-right: 0;
                        font-size: 15px;
                    }

                    nav > ul {
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                       
                    }

                    header nav ul li.active{
                        text-align: center;
                        width: 100%;
                        margin-bottom: 0%;
                        justify-content: center;
                        padding-left: 100px;
                        padding-right: 100px;
                        line-height: 25px;
                        font-size: 15px;
                    }

                    body{
                        font-size: 15px;
                        width: 100%

                    }

                    article h2 { /* H2 title */
                        font-size: 22px;
                    }

                    article {
                        width: 89%;
                        padding-left: 25px;
                    }

                    footer {
                        display: none;
                    }

                    div{
                        width: 86%;
                        margin-bottom: 3%;
                    }

                }

            
        /* IPHONE landscape*/

                @media only screen and (max-height: 500px) and (max-width: 800px){  
                        
                    h1{  
                        font-size: 165%;
                        padding-top: 12.5vh;
                        padding-bottom: 6vh;
                        padding-left: 20px;
                    }

                    nav {
                        padding-left: 12px;
                    }

                    nav > ul li {
                        line-height: 30.5px;
                        font-size: 13px;
                        width: fit-content;
                        margin-left: 3%;
                        margin-right: 3%;
                    }

                    header nav ul li.active{
                        line-height: 30.5px;
                        font-size: 13px;
                    }

                    article h2 { /* H2 title */
                        margin-top: 13px;
                        font-size: 19px;
                    }

                    article{ 
                        width: 92%; 
                        padding-left: 20px;
                    }

                    body {
                        font-size: 13px;
                    }

                    div {
                        float: left;
                        margin-left: 30px;
                        width: 40%;
                        margin-bottom: 3%;
                    }

            }