@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css2?family=Mulish:200,400,wght@1,1000&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    margin: 0; 
}
h1{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-image: url("../images/beau-tir-lac-cristallin-cote-base-montagne-enneigee-au-cours-journee-ensoleillee.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    text-shadow:#ffffff 0em 0em 0.3em;
    text-align: left;
    padding-left: 30px;
}

footer {
    background-color: #bcbcbc;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.hamburger{
    display: none;
}
nav{
    background-color: #bcbcbc;
    display: flex;
    align-items: center; /* Vertical alignment */
    height: 45px;
    padding-left: 30px;
}
nav > ul {
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
}
nav > ul li {
    display: inline-block;
    margin-right: 20px;
    line-height: 45px;
    width: 90px;
    text-align: center;
}
li > a{
    text-decoration: none;
    color: black;
    width: 100%;
    margin: 0;
}
a:hover{
    text-decoration: none;
    color: rgb(0, 191, 255);
}
header nav ul li.active{
    background-color: #ffffff;
    height: 45px;
}

header nav ul li.active a{
    color: rgb(0, 191, 255);
}

#logo {
    padding-top:15px;
    padding-right:15px;
    padding-bottom: 20px;
    float: right;
    width:12%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Adjust as needed */
    }

    h1 {
        padding-top: 60px;
        padding-bottom: 10px;
        padding-left: 15px;
        text-align: center;
    }

    nav {
        padding-left: 15px;
    }

    nav > ul {
        flex-direction: column;
        align-items: stretch;
    }

    nav > ul li {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    #logo {
        width: 70% !important; /* Adjust as needed */
        float: none;
        margin: 0 auto;
    }

    article {
        width: 100%;
        margin-left: 0;
    }

    div {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-top: 3%;
    }
}



/* Article*/

        article{ /* All the left center part*/
            margin-top: 30px;
            margin-left: 2%;
            width: 65%;
            float: left;
        }

        article h2 { /* H2 title with line on bottom border*/
            margin-bottom: 0;
            border-bottom: 1px solid #ccc; 
            font-weight: 800;
        }

        header > p { /* By Jean Dupont...*/
            font-style: italic;
            text-align: right;
            float: right;
            color: #bcbcbc;
        }

        article > p { /* Paragraphe inside the article*/
            float: left;
            color: #666666;   
        }

        p > a{ /* link inside a paragraphe*/
            color: 
            #76AFE9;
            text-decoration: none;

        }

        p > strong { /* strong part inside a paragraphe*/
            color: black;
        }

        p > a:hover { /* When we go with the moose over a link inside a paragraphe*/
            color: #00A5E3;
        }

/* Div*/

        div{ /* All the blue and white box on the right*/
            border-radius: 5%;
            background-color:#00A5E3;
            color: black;
            width: 22%;
            float: right;
            margin-right: 4%;
            text-align: left;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 3%;
        }

        h3{ /* title of the box*/
            background-color: #00A5E3;
            color: white;
            padding-left: 5%;
        }

        div > ul{ /* list inside the box*/
            display: flex;
            flex-direction: column ;
            flex-wrap: wrap;
            margin: 0;
            padding: 5%;
            color: black;
            background-color: white;
            border-bottom-right-radius: 5%;
            border-bottom-left-radius: 5% ;
            list-style-type: none;
        }

        div > ul li { /* elements of the list inside the box*/
                margin-right: 50px;
        }